/* ------------------------------------------------------------------ *\
 * STYLE GUID
\* ------------------------------------------------------------------ */

:root {
    /**
     * Colors
     */
    --scrim: #00000075;
    --success: #1ec863;
    --on-success: #000000;
    --soft-success: #1ec86335;
    --warning: #f6a723;
    --on-warning: #000000;
    --soft-warning: #f6a72335;
    --info: #2f80ed;
    --on-info: #ffffff;
    --soft-info: #2f80ed35;
    --error: #ed4956;
    --on-error: #ffffff;
    --soft-error: #ed495635;
    
    /* Primary */
    --primary: #c15a15;
    --on-primary: #ffffff;
    --soft-primary: #c15a1535;

    /* NEUTRAL */
    --background: #f6f8fa;
    --on-background: #0e1216;
    --on-background-variant: rgb(97, 104, 110);
    --surface: #e5e9ed;
    --outline: #cad3df;
    --inverse: #0a0a0a;
    --on-inverse: #e0e0e0;
  
    /**
     * Typography
     */
  
    /* Font Family */
    --font-family-newsreader: "Newsreader", serif;
    --font-family: "Nunito", sans-serif;
  
    /* Font size */
    --fs-base: 10px;
    --fs-display-large: 5.7rem;
    --fs-display-medium: 4.5rem;
    --fs-display-small: 3.6rem;
    --fs-headline-large: 3.2rem;
    --fs-headline-medium: 2.8rem;
    --fs-headline-small: 2.4rem;
    --fs-title-large: 2.2rem;
    --fs-title-medium: 1.8rem;
    --fs-title-small: 1.7rem;
    --fs-body-large: 1.6rem;
    --fs-body-medium: 1.4rem;
    --fs-body-small: 1.2rem;
    --fs-label-large: 1.4rem;
    --fs-label-medium: 1.2rem;
    --fs-label-small: 1.1rem;
  
    /* Font weight */
    --fw-regular: 500;
    --fw-medium: 600;
    --fw-large: 700;
  
    /* Line height */
    --lh-base: 1.6;
    --lh-display-large: 6.4rem;
    --lh-display-medium: 5.2rem;
    --lh-display-small: 4.4rem;
    --lh-headline-large: 4.0rem;
    --lh-headline-medium: 3.6rem;
    --lh-headline-small: 3.2rem;
    --lh-title-large: 2.8rem;
    --lh-title-medium: 2.8rem;
    --lh-title-small: 2.7rem;
    --lh-body-large: 2.4rem;
    --lh-body-medium: 2.0rem;
    --lh-body-small: 1.8rem;
    --lh-label-large: 2.0rem;
    --lh-label-medium: 1.8rem;
    --lh-label-small: 1.6rem;
  
    /* Letter spacing */
    --ls-n-025: -0.25px;
    --ls-p-010: 0.10px;
    --ls-p-015: 0.15px;
    --ls-p-025: 0.25px;
    --ls-p-040: 0.40px;
    --ls-p-050: 0.50px;
  
    /**
     * Spacing
     */
    --spacing-base: 4px;
    --spacing-05: calc(var(--spacing-base) * 0.5);
    --spacing-1: calc(var(--spacing-base) * 1);
    --spacing-2: calc(var(--spacing-base) * 2);
    --spacing-3: calc(var(--spacing-base) * 3);
    --spacing-4: calc(var(--spacing-base) * 4);
    --spacing-5: calc(var(--spacing-base) * 5);
    --spacing-6: calc(var(--spacing-base) * 6);
    --spacing-7: calc(var(--spacing-base) * 7);
    --spacing-8: calc(var(--spacing-base) * 8);
    --spacing-9: calc(var(--spacing-base) * 9);
    --spacing-10: calc(var(--spacing-base) * 10);
    --spacing-11: calc(var(--spacing-base) * 11);
    --spacing-12: calc(var(--spacing-base) * 12);
    --spacing-13: calc(var(--spacing-base) * 13);
    --spacing-14: calc(var(--spacing-base) * 14);
    --spacing-15: calc(var(--spacing-base) * 15);
    --spacing-16: calc(var(--spacing-base) * 16);
    --spacing-17: calc(var(--spacing-base) * 17);
    --spacing-18: calc(var(--spacing-base) * 18);
    --spacing-19: calc(var(--spacing-base) * 19);
    --spacing-20: calc(var(--spacing-base) * 20);
    --spacing-21: calc(var(--spacing-base) * 21);
    --spacing-22: calc(var(--spacing-base) * 22);
    --spacing-23: calc(var(--spacing-base) * 23);
    --spacing-24: calc(var(--spacing-base) * 24);
    --spacing-25: calc(var(--spacing-base) * 25);
    --spacing-26: calc(var(--spacing-base) * 26);
    --spacing-27: calc(var(--spacing-base) * 27);
    --spacing-28: calc(var(--spacing-base) * 28);
    --spacing-29: calc(var(--spacing-base) * 29);
    --spacing-30: calc(var(--spacing-base) * 30);
  
    /**
     * Box shadow
     */
    --shadow-05: 0px 1px 2px 1px #00000010, 0px 1px 1px 0px #00000015;
    --shadow-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
    --shadow-2: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004d;
    --shadow-3: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
    --shadow-4: 0px 2px 3px 0px #0000004d, 0px 6px 10px 4px #00000026;
    --shadow-5: 0px 4px 4px 0px #0000004d, 0px 8px 12px 6px #00000026;
    --shadow-6: 0px 4px 5px 0px #0000004d, 0px 10px 15px 6px #00000026;
    --shadow-7: 0px 5px 5px 0px #0000004d, 0px 10px 18px 7px #00000026;
    --shadow-8: 0px 5px 6px 0px #0000004d, 0px 12px 20px 8px #00000026;
    --shadow-9: 0px 6px 6px 0px #0000004d, 0px 14px 22px 8px #00000026;
    --shadow-10: 0px 6px 7px 0px #0000004d, 0px 16px 24px 9px #00000026;
    --shadow-11: 0px 7px 8px 0px #0000004d, 0px 17px 26px 9px #00000026;
    --shadow-12: 0px 7px 8px 0px #0000004d, 0px 18px 28px 10px #00000026;
    --shadow-13: 0px 7px 9px 0px #0000004d, 0px 19px 29px 10px #00000026;
    --shadow-14: 0px 8px 9px 0px #0000004d, 0px 20px 31px 11px #00000026;
    --shadow-15: 0px 8px 10px 0px #0000004d, 0px 21px 33px 11px #00000026;
    --shadow-16: 0px 8px 11px 0px #0000004d, 0px 22px 35px 12px #00000026;
    --shadow-17: 0px 9px 11px 0px #0000004d, 0px 23px 36px 12px #00000026;
    --shadow-18: 0px 9px 12px 0px #0000004d, 0px 24px 38px 13px #00000026;
    --shadow-19: 0px 10px 13px 0px #0000004d, 0px 25px 40px 14px #00000026;
    --shadow-20: 0px 10px 14px 0px #0000004d, 0px 26px 42px 15px #00000026;
  
    /**
     * Border radius
     */
    --radius-extra-small: 4px;
    --radius-small: 8px;
    --radius-medium: 12px;
    --radius-large: 16px;
    --radius-extra-large: 24px;
    --radius-circle: 50%;
    --radius-full: 1000px;
  
    /**
     * Transition
     */
    --tr-duration-short: 200ms;
    --tr-duration-medium: 400ms;
    --tr-duration-long: 600ms;
  
    /**
     * Others
     */
    --width-extra-small: 32px;
    --width-small: 40px;
    --width-medium: 48px;
    --width-large: 56px;
    --width-extra-large: 100px;
    --height-extra-small: 32px;
    --height-small: 40px;
    --height-medium: 48px;
    --height-large: 56px;
    --height-extra-large: 100px;

    --header-height: 65px;
    --app-bar-height: 65px;
    --width-base: 300px;
}

/* ------------------------------------------------------------------ *\
 * RESET
\* ------------------------------------------------------------------ */

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol,
menu {
    padding: 0;
    margin: 0;
}

li { list-style: none; }

a,
img,
span,
label,
input,
select,
button,
textarea { display: inline-block; }

a {
    text-decoration: none !important;
    color: inherit;
    font: inherit;
}

img { height: auto; }

label,
select,
button,
input[type="radio"],
input[type="checkbox"] { cursor: pointer; }

input,
select,
button,
textarea {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

input,
select,
textarea {
    appearance: none;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea { resize: none; }

form { width: 100%; }

[id] { scroll-margin-block-start: calc(var(--header-height) + var(--spacing-4)); }

[hidden] { display: none; }

[disabled],
:disabled {
    pointer-events: none;
    opacity: 0.7;
}

/* ------------------------------------------------------------------ *\
 * BASE
\* ------------------------------------------------------------------ */

:where(input, textarea)::placeholder {
    color: var(--on-background-variant);
    opacity: 0.75;
}

option {
    background-color: var(--background);
    color: var(--on-background);
}

html {
    scroll-behavior: smooth;
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
    line-height: var(--lh-base);
}

body {
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--on-background);
    font-size: var(--fs-body-medium);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-medium);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}

body.load { overflow-y: visible; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0 !important;
    margin: 0 !important;
}

svg { vertical-align: middle; }

::selection {
    background-color: var(--on-background);
    color: var(--background);
}

/* ------------------------------------------------------------------ *\
 * TYPOGRAPHY
\* ------------------------------------------------------------------ */

.text-display-large {
    font-family: var(--font-family-newsreader);
    font-size: var(--fs-display-large);
    font-weight: var(--fw-large);
    line-height: var(--lh-display-large);
    letter-spacing: var(--ls-n-025);
}

.text-display-medium {
    font-family: var(--font-family-newsreader);
    font-size: var(--fs-display-medium);
    font-weight: var(--fw-large);
    line-height: var(--lh-display-medium);
}

.text-display-small {
    font-family: var(--font-family-newsreader);
    font-size: var(--fs-display-small);
    font-weight: var(--fw-large);
    line-height: var(--lh-display-small);
}

.text-headline-large {
    font-size: var(--fs-headline-large);
    font-weight: var(--fw-medium);
    line-height: var(--lh-headline-large);
}

.text-headline-medium {
    font-size: var(--fs-headline-medium);
    font-weight: var(--fw-medium);
    line-height: var(--lh-headline-medium);
}

.text-headline-small {
    font-size: var(--fs-headline-small);
    font-weight: var(--fw-medium);
    line-height: var(--lh-headline-small);
}

.text-title-large {
    font-size: var(--fs-title-large);
    font-weight: var(--fw-medium);
    line-height: var(--lh-title-large);
}

.text-title-medium {
    font-size: var(--fs-title-medium);
    font-weight: var(--fw-medium);
    line-height: var(--lh-title-medium);
    letter-spacing: var(--ls-p-015);
}

.text-title-small {
    font-size: var(--fs-title-small);
    font-weight: var(--fw-regular);
    line-height: var(--lh-title-small);
    letter-spacing: var(--ls-p-010);
}

.text-body-large {
    font-size: var(--fs-body-large);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-large);
    letter-spacing: var(--ls-p-025);
}

.text-body-medium {
    font-size: var(--fs-body-medium);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-medium);
    letter-spacing: var(--ls-p-025);
}

.text-body-small {
    font-size: var(--fs-body-small);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-small);
    letter-spacing: var(--ls-p-040);
}

.text-label-large {
    font-size: var(--fs-label-large);
    font-weight: var(--fw-regular);
    line-height: var(--lh-label-large);
    letter-spacing: var(--ls-p-010);
}

.text-label-medium {
    font-size: var(--fs-label-medium);
    font-weight: var(--fw-medium);
    line-height: var(--lh-label-medium);
    letter-spacing: var(--ls-p-050);
}

.text-label-small {
    font-size: var(--fs-label-small);
    font-weight: var(--fw-medium);
    line-height: var(--lh-label-small);
    letter-spacing: var(--ls-p-050);
}

/* ------------------------------------------------------------------ *\
 * TEXT ON COLOR
\* ------------------------------------------------------------------ */

.text-success { color: var(--success) !important; }

.text-on-success { color: var(--on-success) !important; }

.text-warning { color: var(--warning) !important; }

.text-on-warning { color: var(--on-warning) !important; }

.text-info { color: var(--info) !important; }

.text-on-info { color: var(--on-info) !important; }

.text-error { color: var(--error) !important; }

.text-on-error { color: var(--on-error) !important; }

.text-primary { color: var(--primary) !important; }

.text-on-primary { color: var(--on-primary) !important; }

.text-on-background { color: var(--on-background) !important; }

.text-on-background-variant { color: var(--on-background-variant) !important; }

/* ------------------------------------------------------------------ *\
 * REUSED STYLES
\* ------------------------------------------------------------------ */

.section { padding-block-end: 50px; }

.container {
    padding-inline: var(--spacing-4);
    margin-inline: auto;
    width: 100%;
    max-width: 100%;
}

.container.container-ex { max-width: 568px; }

.container.container-sm { max-width: 768px; }

.container.container-md { max-width: 992px; }

.container.container-lg { max-width: 1200px; }

.container.container-xl { max-width: 1440px; }

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.title-sec {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    gap: var(--spacing-4);
    margin-block-end: 30px;
}

.main { min-height: 100dvh; }

body:has(.header) .main { padding-block-start: var(--header-height); }

body:has(.app-bar) .main { padding-block-start: var(--app-bar-height); }

.footer-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 50px;
}

:has(> .state-layer) {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.state-layer {
    background-color: var(--state-layer-bg);
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity var(--tr-duration-short);
}

:has(> .state-layer):hover .state-layer { opacity: 0.08; }

:has(> .state-layer):active .state-layer { opacity: 0.16; }

.custom-scrollbar-hidden::-webkit-scrollbar { display: none; }

.custom-scrollbar::-webkit-scrollbar {
    width: var(--spacing-1);
    height: var(--spacing-1);
}

.custom-scrollbar::-webkit-scrollbar-track { background-color: inherit; }

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--outline);
    border-radius: var(--radius-full);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover { background-color: var(--on-background-variant); }

.custom-scrollbar::-webkit-scrollbar-thumb:active { background-color: var(--on-background); }

.flex,
.wrapper,
.wrapper-item,
.wrapper-between,
.wrapper-block,
.wrapper-content { display: flex; }

.flex,
.wrapper-item,
.wrapper-block { gap: var(--spacing-2); }

.wrapper-content { gap: var(--spacing-1); }

.flex,
.wrapper,
.wrapper-item,
.wrapper-between { align-items: center; }

.wrapper-block,
.wrapper-content { flex-direction: column; }

.wrapper,
.wrapper-item,
.wrapper-between { flex-wrap: wrap; }

.wrapper,
.wrapper-between { gap: var(--spacing-4); }

.wrapper-between {
    width: 100%;
    justify-content: space-between;
}

.overlay,
.offcanvas-backdrop {
    background-color: var(--scrim) !important;
    opacity: 0 !important;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100dvh;
    visibility: hidden;
    transition-duration: var(--tr-duration-short);
    transition-property: opacity, visibility;
}

.overlay.show,
.offcanvas-backdrop.show {
    opacity: 1 !important;
    visibility: visible;
}

.text-loard { font-family: var(--font-family-newsreader); }

.desktop { display: none !important; }

span,
.arrow-dir,
.theme-light,
.theme-dark {
    max-width: max-content;
    max-height: max-content;
}

html[dir="rtl"] .arrow-dir { transform: rotateY(180deg); }

.hover { transition: color var(--tr-duration-short); }

.hover:hover { color: var(--primary) !important; }

.w-full {
    width: 100% !important;
    max-width: 100% !important;
}

.p-start-0,
.p-end-0 { gap: 0 !important; }

.p-start-0 { padding-inline-start: 0 !important; }

.p-end-0 { padding-inline-end: 0 !important; }

.off {
    color: var(--on-background-variant);
    text-decoration: line-through;
    opacity: 0.75;
}

.icon-big,
.icon-big svg {
    min-width: var(--spacing-15);
    max-width: var(--spacing-15);
    min-height: var(--spacing-15);
    max-height: var(--spacing-15);
}

.grid-3-base,
.grid-4-base {
    display: grid;
    gap: var(--spacing-6);
}

.swipper-5-base {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    scroll-snap-type: inline mandatory;
    scroll-snap-stop: always;
    gap: var(--spacing-6);
    overflow-y: hidden;
    overflow-x: auto;
}

.swipper-5-base::-webkit-scrollbar { display: none; }

.swipper-5-base .swipper-item {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

/* ------------------------------------------------------------------ *\
 * COMPONENTS
\* ------------------------------------------------------------------ */

/**
 * Logo
 */
.logo .img-logo {
    min-width: 109px;
    max-width: max-content;
}

.logo.small .img-logo {
    min-height: var(--height-small);
    max-height: var(--height-small);
}

.logo.medium .img-logo {
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

/**
 * Avatars
 */
.avatar {
    display: grid;
    place-items: center;
    border-radius: var(--radius-full);
    border: 1px solid var(--outline);
    color: var(--on-background-variant);
    overflow: hidden;
    position: relative;
    --state-layer-bg: var(--on-background);
}

.avatar .img-avatar {
    position: absolute;
    inset: 0;
    z-index: 10;
}

.avatar.extra-small {
    min-width: var(--width-extra-small);
    max-width: var(--width-extra-small);
    min-height: var(--height-extra-small);
    max-height: var(--height-extra-small);
}

.avatar.extra-small svg {
    min-width: calc(var(--width-extra-small) / 2);
    max-width: calc(var(--width-extra-small) / 2);
    min-height: calc(var(--height-extra-small) / 2);
    max-height: calc(var(--height-extra-small) / 2);
}

.avatar.small {
    min-width: var(--width-small);
    max-width: var(--width-small);
    min-height: var(--height-small);
    max-height: var(--height-small);
}

.avatar.small svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

.avatar.medium {
    min-width: var(--width-medium);
    max-width: var(--width-medium);
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

.avatar.medium svg {
    min-width: calc(var(--width-medium) / 2);
    max-width: calc(var(--width-medium) / 2);
    min-height: calc(var(--height-medium) / 2);
    max-height: calc(var(--height-medium) / 2);
}

/**
 * Separators
 */
.separator {
    border: 0.5px solid var(--outline);
    width: 100%;
    height: 100%;
}

.separator.y {
    width: 1px;
    min-height: 40px;
}

.separator.x { height: 1px; }

/**
 * Progress Bar
 */
.progress-bar {
    background: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 0;
    height: var(--spacing-1);
    transition: width var(--tr-duration-medium), opacity var(--tr-duration-short);
}

.progress-bar.active { width: 100%; }

.progress-bar.hide { opacity: 0; }

/**
 * App bars
 */



/**
 * Badges
 */
.badge {
    background-color: var(--primary);
    color: var(--on-primary);
    position: absolute;
    top: var(--spacing-1);
    right: var(--spacing-05);
    z-index: 10;
    text-align: center;
    min-width: 18px;
    min-height: 18px;
    max-height: 18px;
    padding: 0 var(--spacing-1);
    border-radius: var(--radius-full);
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
    line-height: var(--lh-base);
    display: flex;
    align-items: center;
    justify-content: center;
}

html[dir="rtl"] .badge {
    left: var(--spacing-05);
    right: auto;
}

/**
 * Buttons
 */
.btn {
    background-color: transparent !important;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    border-radius: var(--radius-medium);
    text-transform: capitalize;
    text-wrap: nowrap;
    min-width: max-content;
    max-width: max-content;
    position: relative;
}

.btn.extra-small {
    padding-inline: var(--spacing-4);
    min-height: var(--height-extra-small);
    max-height: var(--height-extra-small);
}

.btn.extra-small svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

.btn.small {
    padding-inline: var(--spacing-5);
    min-height: var(--height-small);
    max-height: var(--height-small);
}

.btn.small svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

.btn.medium {
    padding-inline: var(--spacing-6);
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

.btn.medium svg {
    min-width: calc(var(--width-medium) / 2);
    max-width: calc(var(--width-medium) / 2);
    min-height: calc(var(--height-medium) / 2);
    max-height: calc(var(--height-medium) / 2);
}

.btn.large {
    padding-inline: var(--spacing-7);
    min-height: var(--height-large);
    max-height: var(--height-large);
}

.btn.large svg {
    min-width: calc(var(--width-large) / 2);
    max-width: calc(var(--width-large) / 2);
    min-height: calc(var(--height-large) / 2);
    max-height: calc(var(--height-large) / 2);
}

.btn.outline {
    border: 1px solid var(--outline) !important;
    --state-layer-bg: var(--on-background);
}

.btn.tonal {
    background-color: var(--soft-primary) !important;
    color: var(--primary) !important;
    --state-layer-bg: var(--primary);
}

.btn.filled {
    background-color: var(--primary) !important;
    color: var(--on-primary) !important;
    --state-layer-bg: var(--on-primary);
}

.btn-link {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    text-wrap: nowrap;
    text-transform: capitalize;
    position: relative;
    color: var(--primary) !important;
    max-width: max-content;
    text-decoration: none !important;
    transition: opacity var(--tr-duration-short);
}

.btn-link::before {
    content: "";
    background-color: var(--primary);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 0%;
    height: var(--spacing-05);
    border-radius: var(--radius-full);
    transition: width var(--tr-duration-short);
}

.btn-link:hover::before { width: 100%; }

.btn-link:active { opacity: 0.7; }

.btn-link svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

/**
 * Button groups
 */



/**
 * Extended FABs
 */



/**
 * FAB menu
 */



/**
 * FABs
 */



/**
 * Icon buttons
 */
.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    border-radius: var(--radius-full);
    overflow: hidden;
    position: relative;
}

.icon-btn.extra-small {
    min-width: var(--width-extra-small);
    max-width: var(--width-extra-small);
    min-height: var(--height-extra-small);
    max-height: var(--height-extra-small);
}

.icon-btn.extra-small svg {
    min-width: calc(var(--width-extra-small) / 2);
    max-width: calc(var(--width-extra-small) / 2);
    min-height: calc(var(--height-extra-small) / 2);
    max-height: calc(var(--height-extra-small) / 2);
}

.icon-btn.small {
    min-width: var(--width-small);
    max-width: var(--width-small);
    min-height: var(--height-small);
    max-height: var(--height-small);
}

.icon-btn.small svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

.icon-btn.medium {
    min-width: var(--width-medium);
    max-width: var(--width-medium);
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

.icon-btn.medium svg {
    min-width: calc(var(--width-medium) / 2);
    max-width: calc(var(--width-medium) / 2);
    min-height: calc(var(--height-medium) / 2);
    max-height: calc(var(--height-medium) / 2);
}

.icon-btn.large {
    min-width: var(--width-large);
    max-width: var(--width-large);
    min-height: var(--height-large);
    max-height: var(--height-large);
}

.icon-btn.large svg {
    min-width: calc(var(--width-large) / 2);
    max-width: calc(var(--width-large) / 2);
    min-height: calc(var(--height-large) / 2);
    max-height: calc(var(--height-large) / 2);
}

.icon-btn.text { --state-layer-bg: var(--on-background); }

.icon-btn.outline {
    border: 1px solid var(--outline);
    --state-layer-bg: var(--on-background);
}

/**
 * Segmented buttons
 */



/**
 * Split button
 */



/**
 * Cards
 */
.card {
    background-color: transparent !important;
    border: none;
    border-radius: var(--radius-medium);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: transform var(--tr-duration-medium);
}

.card:not(:has(.card-body)) {
    padding: var(--spacing-2);
    margin-inline: -8px;
    width: calc(100% + var(--spacing-4));
    gap: var(--spacing-4);
}

.card.text { --state-layer-bg: var(--on-background); }

.card.outline {
    border: 1px solid var(--outline) !important;
    --state-layer-bg: var(--on-background);
}

.card .img-book {
    aspect-ratio: 3 / 4;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-medium) !important;
}

.card .figure {
    aspect-ratio: 4 / 3;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--surface);
    display: grid;
    place-items: center;
}

.card .figure .img-card {
    position: absolute;
    inset: 0;
    z-index: 10;
    transition: transform var(--tr-duration-medium);
}

.card .figure:hover .img-card { transform: scale(1.1); }

.card .figure .icon-big {
    color: var(--on-background-variant);
    opacity: 0.5;
}

.card .figure .wrapper-between {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    padding: var(--spacing-4);
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    padding: var(--spacing-5);
}

.card-body svg {
    min-width: var(--spacing-5);
    max-width: var(--spacing-5);
    min-height: var(--spacing-5);
    max-height: var(--spacing-5);
}

.card-body .btn.extra-small { border-radius: var(--radius-full); }

/**
 * Carousel
 */
.carousel {
    overflow: hidden;
    border-radius: var(--radius-medium);
}

.carousel .carousel-item {
    position: relative;
    background-color: var(--soft-primary);
    width: 100%;
    height: 100%;
    padding: var(--spacing-8);
    align-items: center;
}

.carousel .carousel-item.active { display: flex; }

.carousel .carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel .carousel-indicators {
    margin: 0 !important;
    padding: var(--spacing-4);
    gap: var(--spacing-2);
}

.carousel .carousel-indicators button {
    background-color: var(--soft-primary);
    width: var(--spacing-3);
    height: var(--spacing-3);
    opacity: 1;
    border-radius: var(--radius-full);
    overflow: hidden;
    margin: 0 !important;
    border-block: 0;
    transition: background-color var(--tr-duration-short);
}

.carousel .carousel-indicators button.active { background-color: var(--primary); }

/**
 * Checkbox
 */



/**
 * Chips
 */



/**
 * Date pickers
 */



/**
 * Time pickers
 */



/**
 * Dialogs
 */



/**
 * Divider
 */



/**
 * Lists
 */



/**
 * Loading indicator
 */



/**
 * Progress indicators
 */



/**
 * Menus
 */
.dropdown .dropdown-menu {
    background-color: var(--surface) !important;
    border: none;
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-05);
    min-width: 100%;
    max-height: 80dvh;
    padding-block: var(--spacing-2) !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown .dropdown-menu.small { width: 220px; }

.dropdown .dropdown-menu .dropdown-item {
    background-color: transparent !important;
    color: var(--on-background-variant) !important;
    display: grid;
    align-items: center;
    grid-template-columns: max-content minmax(0, 1fr);
    gap: var(--spacing-3);
    padding: var(--spacing-2) var(--spacing-4);
    transition: color var(--tr-duration-short);
    --state-layer-bg: var(--on-background);
}

.dropdown .dropdown-menu .dropdown-item svg {
    min-width: var(--spacing-5);
    max-width: var(--spacing-5);
    min-height: var(--spacing-5);
    max-height: var(--spacing-5);
}

.dropdown .dropdown-menu .dropdown-item:hover { color: var(--on-background) !important; }

.dropdown .dropdown-menu .dropdown-item.error {
    color: var(--error) !important;
    --state-layer-bg: var(--error);
}

.dropdown .dropdown-menu .separator { margin-block: var(--spacing-2) !important; }

/**
 * Navigation bar
 */



/**
 * Navigation drawer
 */



/**
 * Navigation rail
 */



/**
 * Radio button
 */



/**
 * Search
 */
.search-container {
    position: relative;
    width: 100%;
}

.search-container .search {
    display: flex;
    align-items: center;
    background-color: var(--surface);
    border-radius: var(--radius-medium);
    padding-inline-end: var(--spacing-4);
    height: var(--height-small);
    border: 2px solid var(--surface);
    transition: border-color var(--tr-duration-short);
}

.search-container .search:hover { border-color: var(--outline); }

.search-container .search:is(:focus, :focus-visible, :focus-within) { border-color: var(--primary); }

.search-container .search button[type="submit"] {
    color: var(--on-background-variant);
    opacity: 0.75;
    transition-duration: var(--tr-duration-short);
    transition-property: opacity, color;
}

.search-container .search:hover button[type="submit"] {
    color: var(--on-background);
    opacity: 1;
}

.search-container .search:is(:focus, :focus-visible, :focus-within) button[type="submit"] {
    color: var(--primary);
    opacity: 1;
}

.search-container .search-bar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(var(--height-small) + var(--spacing-2));
    left: 0;
    right: 0;
    z-index: 30;
    box-shadow: var(--shadow-05);
    background-color: var(--surface);
    border-radius: var(--radius-medium);
    max-height: calc(100dvh - (var(--header-height) + var(--spacing-4)));
    overflow-y: auto;
    overflow-x: hidden;
    padding-block: var(--spacing-2);
}

.search-container .search-bar.active { display: flex; }

.search-container .search-bar .wrapper-item { padding: var(--spacing-2) var(--spacing-4) var(--spacing-4); }

.search-container .search-bar .wrapper-item .btn { border-radius: var(--radius-full); }

.search-container .search-bar .search-bar-link {
    padding: var(--spacing-2) var(--spacing-4);
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    --state-layer-bg: var(--on-background); 
}

.search-container .search-bar .search-bar-link svg {
    min-width: var(--spacing-5);
    max-width: var(--spacing-5);
    min-height: var(--spacing-5);
    max-height: var(--spacing-5);
}

.search-container .separator.x { margin-block: var(--spacing-2); }

/**
 * Bottom sheets
 */



/**
 * Side sheets
 */
.offcanvas.offcanvas-start,
.offcanvas.offcanvas-end {
    background-color: var(--background) !important;
    max-width: var(--width-base);
    display: grid;
    grid-template-rows: max-content minmax(0, 1fr) max-content;
}

.offcanvas.offcanvas-start .offcanvas-header,
.offcanvas.offcanvas-end .offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
    padding: var(--spacing-4);
}

.offcanvas.offcanvas-start .offcanvas-list,
.offcanvas.offcanvas-end .offcanvas-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    padding: 0 var(--spacing-4) var(--spacing-4);
    overflow-y: auto;
    overflow-x: hidden;
}

.offcanvas.offcanvas-start .offcanvas-list .offcanvas-link,
.offcanvas.offcanvas-end .offcanvas-list .offcanvas-link {
    padding-inline: var(--spacing-4);
    min-height: var(--height-small);
    max-height: var(--height-small);
    border-radius: var(--radius-medium);
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    width: 100%;
    --state-layer-bg: var(--on-background);
}

.offcanvas.offcanvas-start .offcanvas-list .offcanvas-link.active,
.offcanvas.offcanvas-end .offcanvas-list .offcanvas-link.active {
    background-color: var(--primary);
    color: var(--on-primary);
    --state-layer-bg: var(--on-primary);
}

.offcanvas.offcanvas-start .offcanvas-footer,
.offcanvas.offcanvas-end .offcanvas-footer {
    border-block-start: 1px solid var(--outline);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    padding: var(--spacing-4);
}

/**
 * Sliders
 */



/**
 * Snackbar
 */



/**
 * Switch
 */



/**
 * Tabs
 */



/**
 * Text fields
 */
.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    width: 100%;
}

.form-group label { text-transform: capitalize; }

.form-group .input-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
    padding-inline: var(--spacing-4);
    border-radius: var(--radius-medium);
    width: 100%;
}

/**
 * Toolbars
 */



/**
 * Tooltips
 */
.tooltip { display: none; }

.tooltip .tooltip-inner {
    background-color: var(--inverse);
    color: var(--on-inverse);
    font-size: var(--fs-body-small);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-small);
    padding-inline: var(--spacing-2);
    height: 24px;
    text-transform: capitalize;
    text-wrap: nowrap;
    border-radius: var(--radius-extra-small);
}

/**
 * Line Clamp
 */
.line-clamp {
  word-break: break-word;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.line-clamp.line-clamp-1 { -webkit-line-clamp: 1; }

.line-clamp.line-clamp-2 { -webkit-line-clamp: 2; }

.line-clamp.line-clamp-3 { -webkit-line-clamp: 3; }

.line-clamp.line-clamp-4 { -webkit-line-clamp: 4; }

.line-clamp.line-clamp-5 { -webkit-line-clamp: 5; }

.line-clamp.line-clamp-6 { -webkit-line-clamp: 6; }

.line-clamp.line-clamp-7 { -webkit-line-clamp: 7; }

.line-clamp.line-clamp-8 { -webkit-line-clamp: 8; }

.line-clamp.line-clamp-9 { -webkit-line-clamp: 9; }

.line-clamp.line-clamp-10 { -webkit-line-clamp: 10; }

/* ------------------------------------------------------------------ *\
 * OTHERS
\* ------------------------------------------------------------------ */

/**
 * Start Loading
 */
.start-loading {
    background-color: var(--background);
    position: fixed;
    inset: 0;
    z-index: 1000;
    width: 100%;
    height: 100dvh;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr max-content;
    padding-block-end: var(--spacing-10);
    user-select: none;
    transition-duration: var(--tr-duration-medium);
    transition-property: opacity, visibility;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.start-loading.active {
    opacity: 0;
    visibility: hidden;
}

.start-loading .logo { transition: transform var(--tr-duration-medium); }

.start-loading.active .logo { transform: scale(1.5); }

/**
 * Header
 */
.header {
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--background);
    display: flex;
    align-items: center;
    transition: border-color var(--tr-duration-short);
}

.header.fixed-scrolling {
    position: fixed;
    border-color: var(--outline);
    animation: header var(--tr-duration-medium) linear alternate;
}

@keyframes header {
    0% { transform: translateY(-100%); }

    100% { transform: translateY(0%); }
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
}

.header .search-container { display: none; }

.header .search-container.active { display: block; }

.header .wrapper-item { flex-wrap: nowrap; }

.header .search-container .wrapper-item { flex-wrap: wrap; }

.header .nav-list {
    align-items: center;
    gap: var(--spacing-8);
}

.header .nav-list .nav-link {
    text-wrap: nowrap;
    color: var(--on-background-variant);
    transition: color var(--tr-duration-short);
}

.header .nav-list .nav-link:hover { color: var(--on-background); }

.header .nav-list .nav-link.active { color: var(--primary); }

.header .icon-btn { color: var(--on-background); }

/**
 * Footer
 */
.footer {
    background-color: var(--on-background);
    color: var(--background);
}

.footer .column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.footer .footer-top { padding-block: var(--spacing-15) var(--spacing-20); }

.footer .footer-bottom {
    border-top: 1px solid #ffffff15;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block: var(--spacing-5);
}

.footer svg {
    min-width: var(--spacing-5);
    max-width: var(--spacing-5);
    min-height: var(--spacing-5);
    max-height: var(--spacing-5);
}

/* ------------------------------------------------------------------ *\
 * MAIN
\* ------------------------------------------------------------------ */

/**
 * Hero
 */
.hero { padding-block-start: var(--spacing-4); }

.hero .container {
    display: grid;
    gap: var(--spacing-8);
}

.hero .hero-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
    color: var(--on-background-variant);
}

.hero .hero-item > p {
    transition-duration: var(--tr-duration-medium);
    transition-property: padding-inline-start, color;
}

.hero .hero-item:hover > p {
    padding-inline-start: var(--spacing-4) !important;
    color: var(--primary);
}

.hero .hero-item .bade-item {
    background-color: var(--surface);
    color: var(--on-background-variant);
    padding-inline: var(--spacing-1);
    min-width: var(--spacing-6);
    height: var(--spacing-6);
    text-wrap: nowrap;
    border-radius: var(--radius-small);
    display: grid;
    place-items: center;
    transition-duration: var(--tr-duration-short);
    transition-property: background-color, color;
}

.hero .hero-item:hover .bade-item {
    background-color: var(--primary);
    color: var(--on-primary);
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-6);
    max-width: 600px;
    height: 100%;
}

.hero .img-hero {
    position: absolute;
    right: var(--spacing-8);
    bottom: var(--spacing-8);
    z-index: 10;
    width: 300px;
    height: max-content;
}

html[dir="rtl"] .hero .img-hero {
    left: var(--spacing-8);
    right: auto;
}

.hero .hero-content p { max-width: 450px; }

/**
 * Discount
 */
.discount { padding-block-start: var(--spacing-8); }

.discount .card::before {
    content: "";
    background-color: #ffffff55;
    position: absolute;
    right: -100px;
    bottom: -100px;
    z-index: -1;
    width: 300px;
    height: 300px;
    border-radius: var(--radius-full);
}

.discount .card .img-discount {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 35%;
    height: max-content;
}

.discount .card.card-1 { background-color: var(--soft-info) !important; }

.discount .card.card-1 h3 { color: var(--info) !important; }

.discount .card.card-1 .btn-link { color: var(--info) !important; }

.discount .card.card-1 .btn-link::before { background-color: var(--info) !important; }

.discount .card.card-2 { background-color: var(--soft-warning) !important; }

.discount .card.card-2 h3 { color: var(--warning) !important; }

.discount .card.card-2 .btn-link { color: var(--warning) !important; }

.discount .card.card-2 .btn-link::before { background-color: var(--warning) !important; }

.discount .card.card-3 { background-color: var(--soft-error) !important; }

.discount .card.card-3 h3 { color: var(--error) !important; }

.discount .card.card-3 .btn-link { color: var(--error) !important; }

.discount .card.card-3 .btn-link::before { background-color: var(--error) !important; }

.discount .card .card-body {
    flex-direction: row;
    align-items: center;
    width: 65%;
    min-height: 220px;
}

/**
 * News Letter
 */
.newsletter {
    background-color: var(--soft-primary);
    padding-block: 50px 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
}

.newsletter .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-8);
}

.newsletter .input-wrapper {
    background-color: var(--on-primary);
    margin-inline: auto;
    max-width: 550px;
}

.newsletter .img-newsletter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 200px;
}

/* ------------------------------------------------------------------ *\
 * MEDIA QUERY
\* ------------------------------------------------------------------ */

/**
 * Fit Size: 568PX
 */
@media screen and (min-width: 568px) {
    /**
     * REUSED STYLE
     */
    .grid-3-base { grid-template-columns: repeat(2, 1fr); }

    .grid-4-base { grid-template-columns: repeat(2, 1fr); }

    .swipper-5-base { grid-auto-columns: calc((100% - var(--spacing-6)) / 2); }
}

/**
 * Fit Size: 768PX
 */
@media screen and (min-width: 768px) {
    /**
     * REUSED STYLE
     */
    .grid-3-base { grid-template-columns: repeat(3, 1fr); }
    
    .grid-4-base { grid-template-columns: repeat(3, 1fr); }

    .swipper-5-base { grid-auto-columns: calc((100% - var(--spacing-12)) / 3); }

    /**
     * COMPONENTS
     */

    /* Tooltips */
    .tooltip { display: flex; }

    /**
     * OTHERS
     */

    /* Header */
    .header .container { gap: var(--spacing-6); }

    .header .search-container {
        display: block;
        max-width: 500px;
    }

    .header [data-open-search] { display: none; }
}

/**
 * Fit Size: 992PX
 */
@media screen and (min-width: 992px) {
    /**
     * REUSED STYLE
     */
    .desktop { display: flex !important; }

    .mobile { display: none !important; }

    .grid-4-base { grid-template-columns: repeat(4, 1fr); }

    .swipper-5-base { grid-auto-columns: calc((100% - var(--spacing-18)) / 4); }

    /**
     * MAIN
     */

    /* Hero */
    .hero .container { grid-template-columns: 340px 1fr; }

    .hero .hero-content { margin-inline-start: var(--spacing-8); }
}

/**
 * Fit Size: 1200PX
 */
@media screen and (min-width: 1200px) {
    /**
     * REUSED STYLE
     */
    .swipper-5-base { grid-auto-columns: calc((100% - var(--spacing-24)) / 5); }
}

/**
 * Fit Size: 1440PX
 */
@media screen and (min-width: 1440px) {}